.theme1{
    font-size: 20px;
    font-family: Garamond;
    color: blue;
}
.theme2{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: brown;
}
.theme3{
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:yellow;
}
